<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monkeyk.sos.domain.OauthRefreshToken">
    <resultMap id="refreshTokenMap" type="com.monkeyk.sos.domain.OauthRefreshToken">
        <id column="token_id" property="tokenId" jdbcType="VARCHAR"/>
        <result column="num" property="num" jdbcType="VARCHAR"/>
        <result column="token" property="token" jdbcType="BLOB"/>
        <result column="authentication" property="authentication" jdbcType="BLOB"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="insert" parameterType="map">
        insert into oauth_refresh_token(num,token_id,token,authentication)
                values (#{num},#{tokenId},#{token},#{authentication})
    </insert>

    <delete id="deleteById" parameterType="String">
        delete from oauth_refresh_token where token_id = #{tokenId}
    </delete>


    <select id="findById" parameterType="String" resultMap="refreshTokenMap">
        select * from oauth_refresh_token where token_id = #{tokenId}

    </select>


</mapper>
