<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monkeyk.sos.domain.user.Privilege">
    <resultMap id="privilegeMap" type="com.monkeyk.sos.domain.user.Privilege">
        <result column="privilege" property="privilege" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="map">
        insert into user_privilege(user_id,privilege)
                values (#{useId},#{privilege})
    </insert>

    <delete id="deleteById" parameterType="int">
    </delete>



    <select id="findById" parameterType="long" resultMap="privilegeMap">
    </select>

    <select id="findByUserId" parameterType="int" resultMap="privilegeMap">
        select privilege from user_privilege where user_id = #{userId}
    </select>

</mapper>
