<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demai.entity.RealData">
    <resultMap id="realDataMap" type="com.demai.entity.RealData">
        <id column="tkey" property="tkey" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="INTEGER"/>

        <result column="offer" property="offer" jdbcType="VARCHAR"/>
        <result column="offer_id" property="offerId" jdbcType="INTEGER"/>
        <result column="required_id" property="requiredId" jdbcType="INTEGER"/>
        <result column="required" property="required" jdbcType="VARCHAR"/>
        <result column="company" property="company" jdbcType="VARCHAR"/>

        <result column="activity" property="activity" jdbcType="VARCHAR"/>
        <result column="humanr" property="humanr" jdbcType="VARCHAR"/>
        <result column="my_focus_field" property="myFocusField" jdbcType="VARCHAR"/>
        <result column="project" property="project" jdbcType="VARCHAR"/>
        <result column="sign" property="sign" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="post" property="post" jdbcType="VARCHAR"/>


        <result column="birth" property="birth" jdbcType="VARCHAR"/>
        <result column="home" property="home" jdbcType="VARCHAR"/>
        <result column="schools" property="schools" jdbcType="VARCHAR"/>
        <result column="companys" property="companys" jdbcType="VARCHAR"/>
        <result column="traveltaggo" property="travelTagGo" jdbcType="VARCHAR"/>
        <result column="traveltagwantgo" property="travelTagWantGo" jdbcType="VARCHAR"/>
        <result column="my_goodat_key" property="myGoodatKey" jdbcType="VARCHAR"/>
        <result column="profession" property="profession" jdbcType="VARCHAR"/>
        <result column="personmark" property="personmark" jdbcType="VARCHAR"/>
        <result column="mytag" property="mytag" jdbcType="VARCHAR"/>
        <result column="videolist" property="videolist" jdbcType="VARCHAR"/>
        <result column="booklist" property="booklist" jdbcType="VARCHAR"/>


    </resultMap>

    <insert id="insert" parameterType="com.demai.entity.RealData"
            useGeneratedKeys="true" keyProperty="id">
        <!-- insert into basic (tkey,uid,name,tid,type,content,is_repost,time)
          values (#{tkey},#{uid},#{name},#{tid},#{type},#{content},#{isRepost},#{time}) -->
    </insert>

    <delete id="deleteById" parameterType="long">
      delete from realdata where tkey = #{tkey}
    </delete>

    <update id="update" parameterType="com.demai.entity.RealData">
        <!-- update basic
        <set>
            <if test="name != null">
                name = #{name},
            </if>


        </set>
        where tkey = #{tkey}  -->
    </update>

    <select id="findById" parameterType="long" resultMap="realDataMap">
		 select * from realdata where tkey = #{tkey}
	</select>


    <select id="findByParam" parameterType="map" resultMap="realDataMap">
        select tkey,status,offer,offer_id,required_id,company,required,activity,humanr,my_focus_field,profession,
        project,sign,city,post from realdata
        where 1=1

        <if test="uids != null">
            and tkey in
            <foreach collection="uids" item="item" index="index"
                     open="(" separator="," close=")">#{item}
            </foreach>
        </if>

    </select>


    <select id="findRealDatas" parameterType="map" resultType="java.util.HashMap">
        select rd.tkey,CONCAT(rd.year,'-',rd.month,'-',rd.day) birth, rd.month,rd.day,rd.home,rd.schools,rd.companys,rd
        .traveltaggo,rd.traveltagwantgo,
        rd.my_goodat_key,rd.profession,rd.personmark,rd.mytag,rd.videolist,rd.booklist
        from realdata rd where  1 = 1
        <if test="uids != null">
            and rd.tkey in

            <foreach collection="uids" item="item" index="index"
                     open="(" separator="," close=")">#{item}
            </foreach>

        </if>

        order by rd.tkey

    </select>

</mapper>
